<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/Senior Project/tutorials/git/published/git.mp4</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAAAZwlbvDDYH3rXoXvCmrPkbFOzsabHbTEwXRsxP+m9L4qAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADgAAAAEBAABT
	ZW5pb3IgUHJvamVjdAAACQAAAAEBAAB0dXRvcmlhbHMAAAADAAAAAQEAAGdpdAAJAAAA
	AQEAAHB1Ymxpc2hlZAAAAAcAAAABAQAAZ2l0Lm1wNAAoAAAAAQYAAAQAAAAUAAAAJAAA
	ADgAAABQAAAAYAAAAHgAAACMAAAAmAAAAKwAAAAIAAAABAMAACVnAgAAAAAACAAAAAQD
	AACXgwoAAAAAAAgAAAAEAwAAmYMKAAAAAAAIAAAABAMAALGeDQAAAAAACAAAAAQDAABN
	Tg8AAAAAAAgAAAAEAwAAJ/IPAAAAAAAIAAAABAMAACl2pAIAAAAACAAAAAQDAACqdqQC
	AAAAAAgAAAAEAwAA0HakAgAAAAAIAAAABAMAANF2pAIAAAAAKAAAAAEGAADsAAAA/AAA
	AAwBAAAcAQAALAEAADwBAABMAQAAXAEAAGwBAAB8AQAACAAAAAAEAABBuebFBgAAABgA
	AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAIAAAAAAAAAAQAAAAD
	AwAA9gEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAsIPC6AAAAAgAAAAABAAA
	QbkeQDsAAAAkAAAAAQEAAEQ1MjA4QjQ5LTFCRjYtMzYwOS1CQjdFLThCNUExMkE5QTI0
	MhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAAC8AAAAAAAAAAUQAACM
	AQAAAAAAABAQAADMAQAAAAAAAEAQAAC8AQAAAAAAAAIgAACIAgAAAAAAABAgAAAIAgAA
	AAAAABEgAAA8AgAAAAAAABIgAAAcAgAAAAAAABMgAAAsAgAAAAAAACAgAABoAgAAAAAA
	ADAgAACUAgAAAAAAAAHAAADsAQAAAAAAABHAAAAUAAAAAAAAABLAAAD8AQAAAAAAABDQ
	AACcAgAAAAAAAA==
	</data>
</dict>
</plist>
