<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/sadjadi/Documents/Briefcase4Masoud/Classes/Senior Project/tutorials/trello/published/trello.mp4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAADZfuL8hy7X1pdWgRok2J3eqw99ZaCOBuVzOyTL41is4sAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHNhZGphZGkACQAAAAEBAABEb2N1bWVudHMA
	AAAQAAAAAQEAAEJyaWVmY2FzZTRNYXNvdWQHAAAAAQEAAENsYXNzZXMADgAAAAEBAABT
	ZW5pb3IgUHJvamVjdAAACQAAAAEBAAB0dXRvcmlhbHMAAAAGAAAAAQEAAHRyZWxsbwAA
	CQAAAAEBAABwdWJsaXNoZWQAAAAKAAAAAQEAAHRyZWxsby5tcDQAACgAAAABBgAABAAA
	ABQAAAAkAAAAOAAAAFAAAABgAAAAeAAAAIwAAACcAAAAsAAAAAgAAAAEAwAAJWcCAAAA
	AAAIAAAABAMAAJeDCgAAAAAACAAAAAQDAACZgwoAAAAAAAgAAAAEAwAAsZ4NAAAAAAAI
	AAAABAMAAE1ODwAAAAAACAAAAAQDAAAn8g8AAAAAAAgAAAAEAwAAKXakAgAAAAAIAAAA
	BAMAANJ2pAIAAAAACAAAAAQDAAABd6QCAAAAAAgAAAAEAwAADHekAgAAAAAoAAAAAQYA
	APQAAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQBAAAIAAAAAAQAAEG5
	5sUGAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAgAAAAA
	AAAABAAAAAMDAAD2AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACwg8LoAAAA
	CAAAAAAEAABBuR5AOwAAACQAAAABAQAARDUyMDhCNDktMUJGNi0zNjA5LUJCN0UtOEI1
	QTEyQTlBMjQyGAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAMQAAAAA
	AAAABRAAAJQBAAAAAAAAEBAAANQBAAAAAAAAQBAAAMQBAAAAAAAAAiAAAJACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAPQBAAAAAAAAEcAAABQAAAAAAAAAEsAAAAQC
	AAAAAAAAENAAAKQCAAAAAAAA
	</data>
</dict>
</plist>
